body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgba(136, 136, 136, 0.247);
    position: absolute;
    width: 30%;
    height: 75%;
    border-radius: 15px;
    outline: solid;
    outline-width: 2px;
    outline-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Text {
    width: 100%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    position: absolute;
    text-align: center;
    font-weight: bold;
    height: 7%;
}

.username {
    border: none;
    background-color: rgb(156, 156, 156);
    width: 80%;
    height: 10%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, -50%);
}

.usernameLogin {
    border: none;
    background-color: rgb(156, 156, 156);
    width: 80%;
    height: 10%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translate(-50%, -50%);
}

.email {
    border: none;
    background-color: rgb(156, 156, 156);
    width: 80%;
    height: 10%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translate(-50%, -50%);
}

.password {
    border: none;
    background-color: rgb(156, 156, 156);
    width: 80%;
    height: 10%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
}

.submit {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 255, 0.493);
    width: 80%;
    height: 10%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);
}

.alreadyText {
    border: none;
    background-color: rgb(190, 190, 190);
    width: 80%;
    height: 10%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    line-height: 2.25;
    display: inline-block;
    vertical-align: middle;
    left: 50%;
    bottom: 0%;
    color: black;
    text-decoration: none;
    transform: translate(-50%, -50%);
}